<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"><span>Melbourne</span></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to general_path , :onclick => 'poly_continue_flag=false;' do %> 
              <%= fa_icon "pie-chart", text: "General" %>
           <% end %>
        </li>
        <li><%= link_to trend_path , :onclick => 'poly_continue_flag=false;' do %> 
              <%= fa_icon "bar-chart", text: "Trend" %>
           <% end %>
        </li>
        <li><%= link_to polygonmap_path do 
              fa_icon "globe", text: "Polygonmap"
            end %>
        </li>
        <li><%= link_to heatmap_path, :onclick => 'poly_continue_flag=false;' do %> 
              <%=fa_icon "fire", text: "Heatmap"%>
           <%end %>
        </li>
        <li><%= link_to top_10_path, :onclick => 'poly_continue_flag=false;' do %> 
             <%= fa_icon "group", text: "Top 10"%>
           <%end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
